<% @results.each do |house| %>
  <div class="each_house">
    <h2>
      <a href="/houses/<%= house['id'] %>">
        <%= house['name'] %>
      </a>
    </h2>
    <a class="image_link" href="/houses/<%= house['id'] %>">
      <img class="house_img" src="<%= house['image_url'] %>" alt="">
    </a>
  </div>
<%end%>