<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if logged_in? %>
  <%= current_user[:id] %>
    <%= current_user['email'] %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
  <% end %>
  <nav>
    <a href="/">Home</a>
    <a href="/houses/new">Add More Properties</a>
    <a href="/my_house">My Ideal Houses</a>
  </nav>
  <%= yield %>

</body>
</html>
