<h1>Add New Property</h1>
<form action="/houses/new" method="post">
<label for="">name</label>
<input type="text" name="name">
<label for="">image_url</label>
<input type="text" name="image_url">
<label for="">price</label>
<input type="number" name="price">
<label for="">address</label>
<input type="text" name="address">
<button>Add</button>
</form>